<!--The content below is only a placeholder and can be replaced.-->

<h1 class="intro">
  Welcome to {{title}}!
</h1>

<app-button-component routerLink="/foo">Navigate to "/foo"</app-button-component>
<app-button-component routerLink="/bar/this_is_parameter_value">Navigate to "/bar"</app-button-component>
<app-button-component routerLink="/qweqwe">Navigate to nonexistant page</app-button-component>
<app-button-component (onClick)="changeRoute()">Navigate to "/foo" programatically</app-button-component>

<div class="separator"></div>

<router-outlet></router-outlet>
